* {
    padding: 0;
    margin: 0;
}

div {
    width: 400px;
    margin: 100px auto;
}

.message {
    display: inline-block;
    font-size: 12px;
    color: #999;
    background: url(./img/img1.png) no-repeat left center;
    background-size: 20px 20px;
    padding-left: 20px;
}

.wrong {
    color: red;
    display: inline-block;
    font-size: 12px;
    background: url(./img/img2.png) no-repeat left center;
    background-size: 20px 20px;
    padding-left: 20px;
}

.right {
    color: green;
    display: inline-block;
    font-size: 12px;
    background: url(./img/img1.png) no-repeat left center;
    background-size: 20px 20px;
    padding-left: 20px;
}